# Node
node_modules/
dist/
coverage/
*.log
.env
.env.*
!/.env.example

# Bun
bun.lockb

# Prisma
packages/db/node_modules/
packages/db/prisma/client/
packages/db/dist/
packages/db/src/generated/ # If you generate client into src
node_modules/.prisma/client/ # Default output for Prisma client

# Docker
docker-compose.override.yml

# IDE / OS
.DS_Store
.idea/
*.suo
*.user
*.sln.docstates
*.userprefs
Thumbs.db
.vscode/

# Fly.io (sometimes local build artifacts)
flycheck_*

# Build artifacts
apps/*/dist
packages/*/dist

.venv/
